#logo > a > img
  height: 120px
  margin-top: 6px
  margin-bottom: -20px
  float: left

#brand_title > a
  font-size: 2.5em
  text-decoration: none
  color: white
  float: left
  margin-top: 38px
  margin-left: 10px


header
  height: 135px

nav
  ul > li
    font-size: 1.5em
    margin-right: 30px
    margin-top: 38px
  ul
    float: left

