// Place all the styles related to the Navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navigation-container
  font-family: lato

.hero-image
  img
    margin-top: 135px
    width: 100%

.schedule
  margin-top: 60px
  .schedule-header
    margin-bottom: 20px
    font-size: 40px
    font-weight: 500
    text-align: center


.about-jimmy
  margin-top: 60px
  .jimmys-header
    margin-bottom: 20px
    font-size: 40px
    font-weight: 500
    text-align: center
  .jimmys-pic
    float: none
    img
      width: 100%
  .jimmys-description
    float: none

.contact
  margin-top: 60px
  .contact-header
    margin-bottom: 20px
    font-size: 40px
    font-weight: 500
    text-align: center
  .contact-map
    height: 300px
    border: 1px solid blue
    background: blue

.testimony
  margin-top: 60px
  .testimony-header
    margin-bottom: 20px
    font-size: 40px
    font-weight: 500
    text-align: center
    
